/Lab2/task_1/task_1.VC.opendb
/Lab2/GeneratorPrimeNumbers/*.opendb
/Lab3/Task_1/.vs/Task_1/v14/*.suo
/Lab3/Task_1/Debug/*.exe
/Lab3/Task_1/Debug/*.ilk
/Lab3/Task_1/Debug/*.pdb
/Lab3/Task_1/*.sdf
/Lab3/Task_1/Task_1/Debug/*.obj
/Lab3/Task_1/Task_1/Debug/*.log
/Lab3/Task_1/Task_1/Debug/Task_1.tlog/*.tlog
/Lab3/Task_1/Task_1/Debug/Task_1.tlog/*.lastbuildstate
/Lab3/Task_1/Task_1/Debug/*.idb
/Lab3/Task_1/Task_1/Debug/*.pdb
/Lab3/Task_1/Task_1_test/Debug/*.obj
/Lab3/Task_1/Task_1_test/Debug/*.log
/Lab3/Task_1/Task_1_test/Debug/Task_1_test.tlog/*.tlog
/Lab3/Task_1/Task_1_test/Debug/Task_1_test.tlog/*.lastbuildstate
/Lab3/Task_1/Task_1_test/Debug/*.idb
/Lab3/Task_1/Task_1_test/Debug/*.pdb
